/* * {
    background-color: red;
} */

/* .heading1 {
    color: orange;
}

.heading2 {
    background-color: indigo;
} */

/* p {
color: blue;
}

h1 {
    color: pink;
} */

/* .capital {
    font-size: 150px;
}

#paragraph {
 text-align: center;
} */